//头部
.top-cate{
	display:flex;
	background-image: linear-gradient(90deg,#0af,#0085ff);
	.top-cate-wrapper{
		overflow:hidden;
		width:100%;
		.content{
			width:600px;
			height:40px;
			line-height:40px;
			a{
				margin:2px 8px;
				padding:3px 0;
				color: #fff;
    			opacity: .7;
    			font-size:14px;
    			&.active{
    				opacity: 1;
    				font-weight:800px;
    				border-bottom:2px solid #fff;
    			}
			}
		}
	}
	.top-cate-op{
		width:45px;
		height:40px;
		background:url('../images/arrow.png') no-repeat;
		background-size:15px 15px;
		background-position:center center;
	}
}

//菜单页
.top-cate-all{
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	background:rgba(0,0,0,.3);
	display:none;
	&.close{
		display:none;
	}
	&.open{
		display:block;
	}
	.categories{
		.categories-top{
			height:40px;
			width:100%;
			line-height:40px;
			background:#f9f9f9;
			display:flex;
			h1{
				font-size:14px;
				color:#333;
				padding-left:14px;
				width:100%;
			}
			span{
				width:45px;
				height:40px;
				background:url('../images/close.png') no-repeat;
				background-position:center center;
				background-size:22px 22px;
			}
		}
		.categories-content{
			background:#fff;
			height:420px;
			display:flex;
			.wrapper{
				overflow:hidden;
				height:420px;
			}
			.content{
				li{
					height:40px;
					line-height:40px;
					font-size:14px;
					color:#666;
					padding-left:14px;
					span{
						font-size:12px;
						color:#999;
						width:28px;
						height:12px;
						border:1px solid #9999991a;
						border-radius:10px;
						float:right;
						line-height:12px;
						margin-top:14px;
						margin-right:10px;
					}
				}
			}
			.content-first{
				flex:1;
				width:100%;
				min-width:130px;
				background:#f9f9f9;
				li{
					position:relative;
					&.active{
						background:#fff;
						&::before{
							content:"";
							width:3px;
							display:inline-block;
							height:21px;
							background:#2395ff;
							position:absolute;
							top:10px;
							left:1px;
						}
					}
				}
			}
			.content-second{
				flex:2;
				width:100%;
				li{
					img{
						width:37px;
						height:37px;
						margin-right:10px;
						vertical-align:middle;
					}
					&.active{
						color:#2395ff;
						span{
							color:#fff;
							background:#2395ff;
							border:1px solid #2395ff;
						}
					}
				}
			}
		}
	}
}

//商家列表
.restaurant-wrapper{
	height:calc(100vh - 40px - 29px);
	overflow:hidden;
	.content{
		.restaurant{
			background:#fff;
			.loading{
				text-align:center;
				font-size:14px;
				color:#333;
				.loading-icon{
					width:16px;
					height:16px;

					animation:circleAni 2s linear;
					animation-play-state: paused;
					@keyframes circleAni{
						form{
							transform:rotateZ(0deg);
						}
						to{
							transform:rotateZ(360deg);
						}
					}
				}
			}
			.restaurant-item{
				display:flex;
				padding:14px 12px;
				.thumb{
					width:75px;
					height:75px;
					background:pink;
				}
				.info{
					font-size:12px;
					color:#999;
					margin-left:12px;
					width:calc(100vw - 26px - 80px);
					h3{
						color:#333;
						font-size:14px;
					}
					.data{
						.d-top{
							display:flex;
							justify-content: space-between;
							margin:12px 0;
						}
						.d-bottom{
							margin-bottom:12px;
							display:flex;
							justify-content: space-between;
						}
					}
					.activites{
						display:flex;
						justify-content: space-between;
						margin-top:12px;
						.act-list{
							ul{
								height:40px;
								overflow:hidden;
								li{
									margin:3px;
									span{
										&.icon{
											color:#fff;
											text-align:center;
											margin-right:6px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//尾部
.footer{
	width:100%;
	display:flex;
	position:fixed;
	bottom:0;
	text-align:center;
	height:40px;
	background:#fff;
	border-top:1px solid #ccc;
	a{
		flex:1;
		line-height:40px;
		display:block;
		color:#8e8e93;
		font-size:12px;
	}
}